<footer class="site-footer">
    <div class="container">
        <div class="row">
            <!-- Contact Information -->
            <div class="col-sm-6 col-md-4">
                <h6>Contact</h6>
                <ul class="footer-links">
                    <li><a href="mailto:williamcaleb816@gmail.com">williamcaleb816@gmail.com</a></li>
                    <li><a href="#">+254708646816</a></li>
                </ul>
            </div>

            <!-- Social Media Links -->
            <div class="col-sm-6 col-md-4">
                <h6>Follow Me</h6>
                <ul class="social-icons">
                    <li><a href="https://www.facebook.com/klabecharlow" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                    <li><a href="https://www.x.com/wunderkind021" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="https://www.instagram.com/kyle_labe" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a href="https://www.linkedin.com/in/caleb-william" target="_blank"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
                    <li><a href="https://www.github.com/keilabe" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
                </ul>
            </div>
            
            <!-- Quick Links -->
            <div class="col-sm-6 col-md-4">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="/about-us">About Me</a></li>
                    <li><a href="/contact">Contact Me</a></li>
                </ul>
            </div>
        </div>

        <hr>

        <!-- Copyright -->
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="copyright">
                    © {{now|date:"2024"}} MyPortfolio. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</footer>